.main-page{
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1440px;
    @media (min-width : 1440px) {
    
        
    }
    @media (max-width : 410px) {
        overflow-x:auto;
        scroll-snap-type: x mandatory;
    }

    

    &__section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__title{
            display: flex;
            justify-content: space-between;
            height: 30px;
            width: 100%;
            @media (max-width : 400px) {
                width: 325px;
            }
        }

        &__body{
            .two-item{
            display: flex;
            gap: 20px;
            .item{
            height: 120px;
            width: 255px;
            background-color: white;
            border-radius: 25px;
            display: flex;
            padding: 25px;
            gap: 20px;
            @media (max-width : 1440px) {
                width: 167px;
                height: 90px;
                padding: 18px;
                gap: 0px;
            }
            @media (max-width : 400px) {
                width: 155px;
                height: 85px;
                padding: 5px;
                padding-top: 15px;

            }
            &__icon{
                height: 70px;
                width: 70px;
                border-radius: 50%;
                background-color: aquamarine;
                padding: 20px;
                text-align: center;
                @media (max-width : 1440px) {
                    height: 50px;
                    width: 50px;
                    padding: 10px;
                }
                @media (max-width : 400px) {
                    width: 45px;
                    height: 45px;
                    padding: 6px;
                }
            }
            &__name-amount{
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                @media (max-width : 1440px) {
                    gap: 5px;
                }
                h2{
                    font-size: 1.5625rem;
                    font-weight: 600;
                    line-height: 30.26px;
                    

                }
                h4{
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 19.36px;

                }
            }

        }
    }
    #end{
        width: 350px; height: 364px;
        padding: 30px; padding-top: 40px; gap: 20px; 
        @media (max-width : 1440px) {
         padding-top: 30px; gap: 10px;
         width: 231px; height: 270px;
        }
        @media (max-width : 400px) {
            padding-top: 30px; gap: 10px;
            width: 325px; height: 265px;
         }
    }
    .transactions{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 730px;
        height: 235px;
        background-color: white;
        border-radius: 25px;
        padding: 25px;
        @media (max-width : 1440px) {
            width: 487px;
            height: 170px;
            padding: 15px;
            gap: 10px;

        }
        @media (max-width : 400px) {
           width: 325px;
           height: 199px;
           padding: 30px;
        }

        .transaction{
            text-align: center;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            &__icon{
                height: 55px;
                width: 55px;
                border-radius: 20px;
                background-color: cadetblue;
                padding: 15px;
                text-align: center;
                @media (max-width : 1440px) {
                    width: 40px;
                    height: 40px;
                    border-radius: 15px;
                    padding: 6px;

        
                }
            }
            &__name-date{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 5px;
                width: 156px;
                @media (max-width : 1440px) {
                    width: 135px;

                }

            }
            &__data{
                display: flex;
                justify-content: space-between;
                gap: 50px;
                @media (max-width : 1440px) {
                    width: 200px;
                    gap: 20px;
                }
                @media (max-width : 400px) {
                    display: none;
                }
                
            }
            &__price{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                line-height: 19.36px;
                text-align: end;
                
            }

        }
}
        .my-cards{
            display: flex;
            gap: 25px;
            .card{
                background-color: white;
                width: 350px;
                height: 235px;
                border-radius: 30px;
                padding-top: 10px;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                @media (max-width : 1440px) {
                    width: 231px;
                    height: 170px;
                }
                @media (max-width : 410px) {
                    width: 325px;
                    height: 197px;
                }
                &__header{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    padding-right: 25px;
                    @media (max-width : 1440px) {
                        padding: 15px;
                        padding-bottom: 0;

        
                    }

                    &__left{
                        display:flex;
                        flex-direction: column;
                    }
                }
                &__mid{
                    display: flex;
                    padding: 20px;
                    gap: 50px;
                    @media (max-width : 1440px) {
                        padding: 10px;
                        padding-bottom: 5px;

                    }
                }

                &__footer{
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    @media (max-width : 1440px) {
                        padding: 15px;
                        padding-bottom: 5px;
                    }

                }
                
            }
            .select-card{
                background: linear-gradient(107.38deg, #2D60FF 2.61%, #539BFF 101.2%);
                h2{color: white;}
                h3{color: white;}
                h4{color: white;}
                .card__footer{
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);

                }

                
            }

        }

        .debit{
         height: 364px;
         width: 730px;
         background-color: white;
         border-radius: 25px;
         padding: 30px;
         position: relative;
         @media (max-width : 1440px) {
            width: 487px;
            height: 270px;
        }
        @media (max-width : 400px) {
            width: 325px;
            height: 245px;
         }
         &__header{
            display: flex;
            justify-content: space-between;
            @media (max-width : 400px) {
            justify-content: end;
             }
            &__left{
                display: flex;
                gap: 2px;
                text-align: end;
                @media (max-width : 400px) {
                   display: none;
                 }
            }
            &__right{
                display: flex;
                gap: 10px;
                .dot{
                    height: 15px;
                    width: 15px;
                    border-radius: 5px;
                }
            }
        }
        .graf{
            display: flex;
            gap: 30px;
            position: absolute;
            z-index: 1;
            top: 90px;
            left: 30px;
            @media (max-width : 1440px) {
                gap: 18px;
            }
            @media (max-width : 400px) {
               gap: 15px;
               top: 60px;
             }
        &__month{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            width: 70px;
            justify-content: end;
            @media (max-width : 1440px) {
                width: 48px;
                gap: 8px;
            }
            @media (max-width : 400px) {
                width: 25px;
             }
            &__rows{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: end;
                #one{
                    height: 220px;
                    @media (max-width : 1440px) {
                        height: 150px;
                    }
                }
                #two{
                    height: 180px;
                    @media (max-width : 1440px) {
                        height: 130px;
                    }
                }
                #three{
                    height: 150px;
                    @media (max-width : 1440px) {
                        height: 110px;
                    }
                }
                #four{
                    height: 130px;
                    @media (max-width : 1440px) {
                        height: 90px;
                    }
                }
                #five{
                    height: 110px;
                    @media (max-width : 1440px) {
                        height: 70px;
                    }
                }
                #six{
                    height: 90px;
                    @media (max-width : 1440px) {
                        height: 50px;
                    }
                }
                .blue{
                    background-color: var(--secondery);
                    width: 30px;
                    border-radius: 10px;
                    @media (max-width : 1440px) {
                        width: 20px;
                        border-radius: 7px;
                    }
                    @media (max-width : 400px) {
                        width: 10px;
                        border-radius: 4px;
                     }
                }
                .green{
                    background-color: var(--orenge2);
                    width: 30px;
                    border-radius: 10px;
                    @media (max-width : 1440px) {
                        width: 20px;
                        border-radius: 7px;
                    }
                    @media (max-width : 400px) {
                        width: 10px;
                        border-radius: 4px;
                     }
                }
            }
        }
    }
}









        }
    }
}