.main-page{
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1440px;


    @media (min-width : 1440px) {
    
        
    }
    @media (max-width : 410px) {
        overflow-x:auto;
        scroll-snap-type: x mandatory;
    }



    &__section{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title{
            display: flex;
            justify-content: space-between;
            height: 30px;
            width: 100%;
            @media (max-width : 400px) {
                width: 275px;
            }
        }

        &__body{

            .my-cards{
                display: flex;
                gap: 25px;
                .card{
                    background-color: white;
                    width: 350px;
                    height: 235px;
                    border-radius: 30px;
                    padding-top: 10px;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    @media (max-width : 1440px) {
                        width: 231px;
                        height: 170px;
                    }
                    @media (max-width : 410px) {
                        width: 265px;
                    }
                    &__header{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
                        padding-right: 25px;
                        @media (max-width : 1440px) {
                            padding: 15px;
                            padding-bottom: 0;

            
                        }

                        &__left{
                            display:flex;
                            flex-direction: column;
                        }
                    }
                    &__mid{
                        display: flex;
                        padding: 20px;
                        gap: 50px;
                        @media (max-width : 1440px) {
                            padding: 10px;
                            padding-bottom: 5px;

                        }
                    }

                    &__footer{
                        padding: 20px;
                        display: flex;
                        justify-content: space-between;
                        @media (max-width : 1440px) {
                            padding: 15px;
                            padding-bottom: 5px;
                        }

                    }
                    
                }
                .select-card{
                    background: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);
                    h2{color: white;}
                    h3{color: white;}
                    h4{color: white;}
                    .card__footer{
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);

                    }
                    
                }

            }

            .My-Expense{
                background-color: white;
                width: 350px;
                height: 235px;
                border-radius: 30px;
                display: flex;
                padding: 30px;
                gap: 10px;
                @media (max-width : 1440px) {
                    width: 231px;
                    height: 170px;
                    padding: 20px;
                }
                @media (max-width : 410px) {
                    width: 325px;
                    height: 214px;
                    gap: 15px;
                }

                &__rows{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: end;
                    h6{
                        font-family: "Inter", sans-serif;
                        font-size: 0.7rem;
                        font-weight: 500;
                        line-height: 16.94px;
                        text-align: center;
                        color: rgba(52, 60, 106, 1);
                    }
                    #h1{
                        height:90px;
                        @media (max-width : 1440px) {
                            height: 70px;

                        }

                    }
                    #h2{
                        height:130px;
                        @media (max-width : 1440px) {
                            height: 110px;
                        }
                    }

                    #h3{
                        height:50px;
                        
                        @media (max-width : 1440px) {
                            height: 40px;

                        }
                    }
                    #h4{
                        height: 100px;
                        @media (max-width : 1440px) {
                            height:100px;


                        }
                    }
                    &__row{
                        background-color: var(--background2);
                        width: 37px;
                        height: 10px;
                        border-radius: 10px;
                        @media (max-width : 1440px) {
                            width: 22px;
                            border-radius: 7px;

                        }
                        @media (max-width : 410px) {
                            width: 35px;
                        }

                    }
                    
                }
            }
            .My-Expense__rows__row:hover {
                animation: fire 5s;
            
            }
            @keyframes fire{

                to{
                    height: 0px;
                }
            
            }
            .bar{
                display: flex;
                gap: 70px;
                position: relative;
                padding: 10px;
                text-align: center;
                padding-left: 10px;
                padding-top: 0;
                border-bottom: 1px solid rgba(235, 238, 242, 1);
                padding-bottom: 6px;
                @media (max-width : 410px) {
                    width: 325px;
                    gap: 40px;
                }
                .select{
                    height: 3px;
                    width: 145px;
                    position: absolute;
                    background-color: var(--secondery);
                    border-radius: 30px 30px 0 0 ;
                    top: 25px;
                    left: 0px;
                    @media (max-width : 410px) {
                        width: 110px;
                    
                    }
                    // border-bottom: 5px solid var(--secondery);
                    // border-radius: 5px;
                }
            }
            .Recent-Transactions{
                background-color: white;
                width: 1110px;
                height: 397px;
                border-radius: 30px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                padding: 30px;
                gap: 15px;

                @media (max-width : 1440px) {
                    width: 743px;
                    height: 277px;
                    border-radius: 20px;
                    padding: 10px;
                    gap: 5px;


                }
                @media (max-width : 410px) {
                   width: 325px;
                   height: 299px;
                    padding: 15px;
                    padding-top: 20px;
                    gap: 10px;


                  
                 }



                &__title{
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    align-items:center;

                    @media (max-width : 1440px) {
                        width: 743px;
                        height: 277px;
                        border-radius: 7px;
                        padding-left: 5px;
                        padding-right: 5px;
                        gap: 10px;
                        width: 100%;

    
                    }
                    @media (max-width : 410px) {
                       display: none;
                    }
                    .icon-name{
                        display: flex;
                        gap: 100px;
                        align-items: center;
                        @media (max-width : 1440px) {
                            gap: 50px;
                        }
                    }
                    .all{
                        display: flex;
                        gap: 50px;
                        @media (max-width : 1440px) {
                            gap: 50px;
                            padding-left: 90px;
                        }
                    }




                }
                &__Recent-Transaction{
                    display: flex;
                    gap: 10px;
                    border-top: 1px solid rgba(235, 238, 242, 1) ;
                    padding-top: 15px;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    @media (max-width : 1440px) {
                        padding-top: 5px;

                    }
                    .icon-name{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        width: 200px;
                    }
                    .all{
                        display: flex;
                        gap: 30px;
                        @media (max-width : 1440px) {
                            gap: 30px;
    
                        }
                        @media (max-width : 410px) {
                            display: none;
                         }
                    }
                    .name-date{
                        display: flex;
                        flex-direction: column;
                        @media (max-width : 1440px) {
                           width: 150px;
                        }
                        @media (max-width : 410px) {
                            width: 300px;
                            align-items: start  ;
                        }
                    .ss{
                        display: none;
                        @media (max-width : 410px) {
                            display: block;
                         }
                    }


                }
                    &__download{
                        width: 100px;
                        height: 35px;
                        border-radius: 50px;
                        border: 1px solid rgba(18, 50, 136, 1);
                        color: rgba(18, 50, 136, 1);
                        text-align: center;
                        padding: 5px;;
                        align-self: end;
                        justify-self: end;             
                        @media (max-width : 1440px) {
                            width: 80px;
                            height: 30px;
    
                        }         
                        @media (max-width : 410px) {
                            display: none;
                         }
                        h6{
                            font-family: "Inter", sans-serif;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 19.36px;
                            color: #123288;

                        
                        }
                        #select{
                            color: #1814F3;
                        
                        }
                    }
                    #select1{
                        border:1px solid #1814F3;
                    }

                }

            }
            footer{
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: end;
                padding-top: 30px;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-weight: 500;
                line-height: 18.15px;
                @media (max-width : 410px) {    
                    justify-content: start

                 }


                .page{
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    background-color: var(--secondery);
                    text-align: center;
                    padding: 10px;
                }
                h5{
                    color: var(--secondery);
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
            






        }
    }
}









